body {
	margin: 0;
	padding: 0;
	color: black;
	background: #020239;
	height: 100%;
	width:100%;
	font-family: Gill Sans, sans-serif;
}
.container {
	/*position: absolute;*/
	width: 100%;
	height: 1000px;
	margin: 0%;
	background: grey;
}
.title {
	width:98%;
	font-size: 250%;
	color: red;
	padding: 1%;
	text-align: center;
	background: black;
}

.menu {
	width: 98%;
	padding: 1%;
	clear: left;
	text-align: center;
	background: yellow;
}
.menu ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}
.menu ul li {
	display: inline;
}
.menu ul li a {
	color: blue;
	text-decoration: none;
	font-size: 120%;
    padding: 3%;
}
.left {
	float: left;
	color: #000000;
	padding-left: 1%;
	padding-right: 1%;
	width: 48%;
	height: 1000px;
	background: white;
}

.right {
	float: left;
	color: #ffffff;
	padding-left: 1%;
	padding-right: 1%;
	width: 48%;
	height: 1000px;
	background: #000000;
}
.field {
	float: left;
	padding: 1%;
	width: 98%;
	height: 1000px;
	background: #afc2ff;
    background: linear-gradient(to top, #0340FF, #afc2ff);
}
.field p {
	font-size: 120%;
}
.field ul {
	font-size: 120%;
}
.pic {
	float: left;
	width: 10%;
	height: 10%;
}
.pic1 {
	float: left;
	width: 30%;
	height: 30%;
}
.left {
	overflow: auto;
	float: left;
	color: #dddddd;
	padding-left: 1%;
	padding-right: 1%;
	width: 48%;
	height: 1200px;
	background: #112231;
}

.right {
	overflow: auto;
	float: left;
	/*text-indent:;*/
	color: #dddddd;
	padding-left: 1%;
	padding-right: 1%;
	width: 48%;
	height: 1200px;
	background: #001020;
}

.container2 {
	overflow: auto;
	float: left;
	width: 100%;
	height: 1000px;
	font-size: 100%;
	background: #afc2ff;
}
.container2 p {
	font-size: 100%;
}
.container2 ul {
	font-size: 120%;
}

.secleft {
	overflow: auto;
	float:left;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	width: 31%;
	height: 1000px;
	font-size:18px;
	text-align: center;
	background: #001122;
}
.secmiddle {
	overflow: auto;
	float:left;
	color: white;
	font-size:18px;
	padding-left: 1%;
	padding-right: 1%;
	width: 32%;
	height: 1000px;
	text-align: center;
	background: #112233;
}
.secright {
	overflow: auto;
	float:left;
	color: white;
	font-size:18px;
	padding-left: 1%;
	padding-right: 1%;
	width: 31%;
	height: 1000px;
	text-align: center;
	background: #223344;
}

.IvanPic {
	margin-left: 1%;
	width: 200px;
	height: 200px;
}
.EvgenPic {
	margin-left: 1%;
	width: 200px;
	height: 200px;
}
.StepaPic {
	margin-left: 1%;
	width: 200px;
	height: 200px;
}
.AuthorA {
	overflow: auto;
	list-style-type: none;
	float:left;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	width: 31%;
	height: 80px;
	text-align: left;
	background: #001122;
}
.AuthorB {
	overflow: auto;
	list-style-type: none;
	float:left;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	width: 32%;
	height: 80px;
	text-align: left;
	background: #112233;
}

.AuthorC {
	overflow: auto;
	list-style-type: none;
	float:left;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	width: 31%;
	height: 80px;
	text-align: left;
	background: #223344;
}
.AuthorA ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}
.AuthorB ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}
.AuthorC ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

.AuthorA ul li a {
	color: pink;
	text-decoration: none;
}

.AuthorB ul li a {
	color: pink;
	text-decoration: none;
}

.AuthorC ul li a {
	color: pink;
	text-decoration: none;
}

.MaiTitle {
	font-size: 140%;
	text-align: center;
	margin-top: 1%;
	background: transparent;
}
.MisisTitle {
	font-size: 140%;
	text-align: center;
	margin-top: 1%;
	background: transparent;
}
.HistoryC {
	font-size: 120%;
	text-align: center;
	background: transparent;
}
.picdesc {
	margin-left: 25%;
	width: 500px;
	height: 250px;
}

.goodline {
	float:left;
	height: 10px;
	width: 100%;
	background: #111111;
}
.container3 {
	font-family: Comic Sans MS, Comic Sans, cursive;
	overflow: auto;
	padding: 1%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	color: white;
	height: 2200px;
	width:60%;
	float:left;
	background: #133747;
}
.container3 a {
	color: pink;
}
.container3 ul {
	text-align: left;
}
.container3 ul li {
	text-align: left;
}
.TITLEFOLK {
	margin-top: 2%;
	font-size: 20px;
	text-align: center;
	color: white;
	background: transparent;
}
.omaewa {
	height: 120px;
	width: 200px;
}


.contacts {
	/*position: absolute;*/
	/*bottom: 0px;*/
	width:100%;
	clear: left;
	text-align: center;
	background: #111111;
	color: #ff00ff;
}
